//main: _main.less

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');



rgb(33, 37, 41):root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}


/* Chat Page */
.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  background-image: linear-gradient(#e1e8f8 0%, #dedbf9 62.9%, #d5adfb 100%);
  -webkit-box-shadow: 0px 0px 20px 0px #BFBFBF;
  box-shadow: 0px 0px 20px 0px #BFBFBF;

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h2,p{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }
    #lernflixRoomName {
      font-size: 16px;
    }
  }

  .chat-messages {

    & > div {
      margin-bottom: 15px;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Roboto';
    }

    .system-message {

      .meta {
        color: #fff;
        margin-bottom: 5px;
        font-size: 16px;

        & span {
          color: #fff;
        }
      }

      .text {
        color: #fff;
        font-size: 13px;
      }


      //Animation
      position: relative;
      -webkit-animation: floatBubble 0.5s,
      fadein 0.5s normal ease-in;
      animation: floatBubble 0.5s,
      fadein 0.5s normal ease-in;
    }

    .user-message {
      background: rgb(135, 113, 171);
      background: linear-gradient(90deg, rgba(135, 113, 171, 1) 0%, rgba(126, 105, 197, 1) 100%);

      .meta {
        color: #fff;
        margin-bottom: 5px;
        font-size: 16px;

        & span {
          color: #fff;
        }
      }

      .text {
        color: #fff;
        font-size: 13px;
      }

      //Animation
      position: relative;
      -webkit-animation: floatBubble 0.5s,
      fadein 0.5s normal ease-in;
      animation: floatBubble 0.5s,
      fadein 0.5s normal ease-in;
    }

    @-webkit-keyframes floatBubble {
      0% {
        top: 10px;
      }

      100% {
        top: 0px;
      }
    }

    @keyframes floatBubble {
      0% {
        top: 10px;
      }

      100% {
        top: 0px;
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-moz-keyframes fadein {

      /* Firefox */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-webkit-keyframes fadein {

      /* Safari and Chrome */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @-o-keyframes fadein {

      /* Opera */
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

  }

  .meta {
    opacity: 1;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;

    span {
      color: #000;
      font-weight: 100;
      float: right;
    }
  }


  &.sys {
    max-width: 75%;
    background-color: blue;
    color: #fff;

    .meta {
      opacity: 1;
      font-size: 13px;
      font-weight: bold;
      color: #000;
      margin-bottom: 7px;

      span {
        color: #fff;
        font-weight: 100;
        float: right;
        opacity: 0.7;
      }
    }

  }
}

.chat-form-container {
  padding: 20px 0px;

  #chat-form {
    .chat-grid-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 15px;
      align-items: flex-end;
    }

    textarea[type='text'] {
      font-size: 16px;
      padding: 5px;
      resize: none;
      border-radius: 5px;
      height: 3rem;
    }

    button#send {
      background-color: transparent;
      width: 100%;
      transition: 0.3s ease-out;



      &:hover {
        background-color: @purple;
        transition: 0.3s ease-out;

        #sendsvg {
          fill: #fff;
          transition: 0.4s ease-out;
          
        }
      }

    }
  }
}


@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
