//out: null

/* Place the navbar at the bottom of the page, and make it stick */
.navba {
background-color: #212238;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
}

/* Style the links inside the navigation bar */
.navba a {
float: center;
display: inline-block;

color: #f2f2f2;
text-align: center;
padding: 12px 14px;
text-decoration: none;
font-size: 14px;
}

/* Change the color of links on hover */
.navba a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.navba a.active {
background-color: #4CAF50;
color: white;
}


      #feedbackModal,#about,#contact{

        input {
          color: #000;
          font-size: 1rem;

          &:focus {
            background-color: #fff;
            border-color: #fff;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(92, 66, 137, 0.25);
          }
        }

        .modal-dialog .modal-footer > button {
          background-color: @purple;
          color: #fff;
          font-size: 1rem;
          transition: .3s;

          &:hover {
            background-color: @purple-hover;
          }
        }

      }