/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #000000;
  overflow: visible;
  height: 56px;

  .container {
    width: 100%;

    .logo {}

     .search_room {
      width: 30%;
      display: inline-flex;

      >button {
        margin-left: 20px;
        background-color: #42826D;
        color: #fff;
      }
       
       #rooms{
         background-color: #f3f3f3;
         
         
         button{
           &:active{
             color: #fff;
             background-color: #fefefe;
           }
           &:hover{
             color: #fff;
             background-color: #212529;
           }
         }
       }
    }

    .profileInfo {
      display: flex;

      img {
        width: 32px;
        height: 32px;
      }

      p {
        font-size: 12px;
        color: #fff;
        margin: 0 0 0 15px;
      }

      a {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}