.rooms {
  display: block;

  button {
    width: 200px;
    display: block;

    &:nth-child(2) {
      margin-top: 10px;
    }
  }
}

.search_room2 {
    width: 30%;
    display: inline-flex;
    transform: translate(-50%,0%);
    position: relative;
    left: 50%;
  

  button {
    margin-left: 20px;
    background-color: #42826D;
    color: #fff;
  }
}